<div class="col-md-12">
    <h2>Module health</h2>
    <p>Currently system show module with status. Version 1.0 not allow to start, stop or restart module.</p>

    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ethernet Endpoint Module</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default enabled" aria-label="Left Align">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Enabled
                    </button>
                    <br/>
                    <br/>
                    <p>
                        <span>
                            <strong>Connected Endpoint:</strong> 2
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Serial Endpoint Module</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default disabled" aria-label="Left Align">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Disabled
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Message Engine Module</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default enabled" aria-label="Left Align">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Enabled
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cube Registration Module</h3>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default enabled" aria-label="Left Align">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Enabled
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>