<div class="col-md-12">
    <h2>Registered Devices</h2>
    <p>You can show there all devices connected do Haris Sensors Network</p>

    <div class="col-md-12 row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>[Temp]</strong> Gdańsk Zaspa</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <span>Address:</span><strong> asd6G</strong><br />
                        <span>Value:</span><strong> 23.11</strong><br/>
                        <strong>07-12-2017 12:13</strong><br/>
                        <button class="btn btn-default"> Show logs</button>
                        <hr />
                        <h3>WebHooks <small>On temperature recived</small></h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Display Update</td>
                                <td>
                                    <button class="btn btn-success btn-sm"> Edit</button>
                                    <button class="btn btn-danger btn-sm"> Remove</button>                                     
                                </td>
                            </tr>
                            </tbody>
                        </table>                         
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>[Temp]</strong> Ciechanów</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <span>Address:</span><strong> rte3W</strong><br />
                        <span>Value:</span><strong> 15.11</strong><br/>
                        <strong>07-12-2017 12:41</strong><br/>
                        <button class="btn btn-default"> Show logs</button>
                        <hr />
                        <h3>WebHooks <small>On temperature recived</small></h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Display Update</td>
                                    <td>
                                        <button class="btn btn-success btn-sm"> Edit</button>
                                        <button class="btn btn-danger btn-sm"> Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                             
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>[Relay]</strong> Lampa w salonie</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <span>Address:</span><strong> aw23W</strong><br />
                        <span>Value:</span><strong> On</strong><br/>
                        <strong>07-12-2017 12:41</strong><br/>
                        <button class="btn btn-warning"> Turn Off</button> 
                        <button class="btn btn-success"> Turn On</button> 
                        <button class="btn btn-default"> Show logs</button>
                        <hr />
                        <h3>WebHooks <small>On status changed</small></h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Display Update</td>
                                <td>
                                    <button class="btn btn-success btn-sm"> Edit</button>
                                    <button class="btn btn-danger btn-sm"> Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>                             
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>[Display]</strong> Wyświetlacz w przedpokoju</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <span>Address:</span><strong> a32gW</strong><br />
                        <span>Value Line 1:</span><strong> Gdansk temp: 23.1</strong><br />
                        <span>Value Line 2:</span><strong> Ciechanow temp: 15.1</strong><br />
                        <strong>07-12-2017 12:41</strong><br />
                        <button class="btn btn-default"> Show logs</button>
                        <hr />
                        <h3>WebHooks <small>On text changed</small></h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Display Update</td>
                                    <td>
                                        <button class="btn btn-success btn-sm"> Edit</button>
                                        <button class="btn btn-danger btn-sm"> Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>