<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>[Relay]</strong> {{cube.Name}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <span>Address:</span><strong> {{cube.CubeAddress}}</strong><br />
                <div class="btn-group" role="group">
                    <button type="button" ng-click="turnOn()" class="btn btn-default">Turn On</button>
                    <button type="button" ng-click="turnOff()" class="btn btn-default">Turn Off</button>
                </div>

                <hr />
                <h3 ng-hide="true">
                    WebHooks <small>On temperature recived</small>
                </h3>
                <table ng-hide="true" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Display Update</td>
                            <td>
                                <button class="btn btn-success btn-sm"> Edit</button>
                                <button class="btn btn-danger btn-sm"> Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>